@page "/create-task"
@model Tasker.Pages.CreateTaskModel
<h1>New Task</h1>
@{
	<div asp-validation-summary="All"></div>
	<form asp-page="CreateTask" method="post">
		<label asp-for="NewTask.Title">Title
			<input type="text" asp-for="NewTask.Title"/>
		</label>
		<label asp-for="NewTask.Description">Description
			<input type="text" asp-for="NewTask.Description"/>
		</label>
		<label asp-for="NewTask.Priority">Priority
			<input type="text" asp-for="NewTask.Priority"/>
		</label>
		<input type="submit"/>
	</form>
}
